.section-title {
  text-align: center;
}

.sidebar-list {
  flex-basis: 70%;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}


@media only screen and (min-width: 992px) {
  .route-div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5%;
  }
}
