.Search-div {
  background-color: inherit;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
}

.Search-div .btn {
  width: 15%;
  margin-left: 3rem;
}

.report-container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.report-container .report-img , .report-img img{
  width: 50%;
  max-height: 500px;
  margin-bottom: 3rem;
}

.report-container .report-info {
  margin-bottom: 3rem;
}