.child-container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.child-container .child-img {
  width: 70%;
  margin-bottom: 3rem;
}

.child-container .kid-info,
.child-container .btn {
  margin-bottom: 3rem;
}